.topbar {
	height: 65px;
	background: black;
	margin-top: 10px;
}

.nav-list{
	display: flex;
	color: white;
	list-style: none;


}

.nav-item{

	flex:1;
	list-style: none;
	text-align: center;
	padding-top: 20px;
	color: grey;
}

a{
	color: grey;
	text-decoration: none;
}

a:hover{
	color:white;
	text-decoration: none;
}

.logo{
	padding-top: 20px;
	padding-left:20px;
}

.shadowbar{
	margin-top: 14px;
    margin-left: 18px;
    width: 97%;
}

#welcome-row{
	margin-top: 40px;

}

#welcome-img{
	width: 100%;
}

.footer-container{
	height: 60px;
	background-color: #DDDDDD;
	margin-top: 25px;
}

.rights{
	margin-top: 20px;
	margin-left: 25px;
}

.mail{
	margin-top: 30px;
}

#eagle-eye{
	margin-top: 50px;
	font-size: 50px;
	margin-bottom: 50px;
}


.about-txt{
	margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}

.social-icon{
	width: 30px;
}

.social-row{
	margin-top: 20px;
}

.section-title{
	margin-top: 75px;
	font-size: 100px;
}

#contact-container{
	margin-left: 0px;
	margin-right: 0px;
	background-color: #F5F5F5;
}

#contact-image-container{
	padding-left:0px;
	padding-right: 0px;
}

#image-contact{
	width: 100%;
	margin-right: 0px;
}

.vertical-text{

	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.contact-row{
	padding-left: 15%;
    padding-top: 10%;
}

.contact-label{
	margin-top: 6%;
	padding-right: 0px;
}

#email-lable{
	margin-top: 31px;
}

.vertical-ligne{
	width: 1.2px;
	background-color: black;
	height: 75px;
}

.vertical-seperator{
	padding-left: 0px;
	padding-right: 0px;
	width: 2px;
}

#message{
	height: 125px;
}

.phone-row
{
	padding-top: 5%;
	padding-left: 15%;
}


#message-form{
	margin-top: 5%;
	padding-left: 15%;
	margin-right: 5%;
}

#name, #email, #message {
	border: 1px solid #000;
	border-radius: 0px;

}


#submit-btn{
	width: 100px;
	cursor: pointer;
}


.about-title{
	font-size: 100px;
}


#about-image-container{
	padding-left:0px;
	padding-right: 0px;
}

.paragraph-title{
	position: relative;
}

.paragraph-subfix{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.paragraph-header{
	font-size: 38px;
}

#about-container{
	margin-left: 0px;
	margin-right: 0px;
}

#about-right{
	padding-left: 31px;
}


.paragraph-body{
	margin-top: 20px;
	padding-left: 0px;
	font-size: 10px;
	margin-bottom: 20px;
}

.paragraph-header-container{
	padding-left: 0px;
}


#products-container{
	margin-left: 0px;
	margin-right: 0px;
	background-color: #F5F5F5;
}


#products-carousel{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.data-container{
	position: relative;
}

.info-btn{
	position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

#left-control, #right-control{
	height: 20%;
	margin-top: 150px;
}

.data-box{
	width: 47%;
    height: 267px;
    background-color: white;
    position: absolute;
    bottom: 14%;
    right: -23%;
}

#close-btn{
	position: absolute;
    right: -14px;
    cursor: pointer;
    top: -8%;
}


#size-container{
	background-image: url('/colored-bg.png');
	background-size: cover;
	width: 53%;
    font-size: 21pt;
    color: white;
    margin-left: 10%;
    padding-left: 5px;
}


#sequence-container{
	background-image: url('/colored-bg.png');
	background-size: cover;
	width: 53%;
    font-size: 21pt;
    color: white;
    margin-left: 10%;
    padding-left: 5px;
}



#size-title{
	padding-left: 10%;
    font-size: 20pt;
}

#sequence-title{
	padding-left: 10%;
    font-size: 20pt;
}

#seperator {
	padding-left: 10%;
}

#info-name{
	padding-left: 10%;
}



#map{
	width: 100%;
	height: 500px;
}






